
.o_letter_signature_div {
  width: 65%;
  margin-left: 100px;
}

.o_letter_signature_img {
  width: 170px;
  height: 170px;
  max-height: 170px;
  max-width: 170px;
  background-size: contain;
  background-repeat: no-repeat;
}

.o_letter_signature_content {
  margin-left: -100px;
}

.o_letter_header_content {
  font-size: 4mm;
  margin-right: 28mm;
  margin-top: 2cm;
}

.o_letter_header_td_param {
  padding: 0 !important;
  width: 15mm;
  height: 6mm;
  border-top: none !important;
}

.o_letter_header_td_value {
  padding: 0 !important;
  width: 35mm;
  height: 6mm;
  border-top: none !important;
}

.o_letter_header_img {
  //min-height: 200px;
  //height: 200px;
  //background-size: 100%;
  //background-repeat: no-repeat;
  //width: 100%;
  //margin-top: -5mm;
  width: 100%;
  height: 100%;
  background-attachment: local;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}