body {
  background-color: #ffffff00 !important;
}

.o_letter_signature_div {
  width: 65%;
  position: relative;
  min-height: 5em;
}

.o_letter_signature_img {
  width: 145px;
  height: 145px;
  max-height: 145px;
  max-width: 145px;
  position: absolute;
  top: -45px;
  left: 0;
}

.o_letter_signature_content {
  position: absolute;
  top: 0;
  left: 0;
}

.o_letter_header_content {
  font-size: 9px;
}

.o_letter_header_td_param {
  padding: 0 !important;
  width: 15mm;
  border-top: none !important;
}

.o_letter_header_td_value {
  padding: 0 !important;
  width: 35mm;
  border-top: none !important;
}

@font-face {
  font-family: 'PersianDigits';
  src:url('https://cdn.kenevist.ir/fonts/sahel/Sahel-FD.ttf')
  format("woff");
  font-weight: Normal;
}
