body {
  background-color: #ffffff00 !important;
}

.o_letter_signature_div {
  width: 65%;
  margin-left: 100px;
}

.o_letter_signature_img {
  width: 170px;
  height: 170px;
  max-height: 170px;
  max-width: 170px;
  background-size: contain;
  background-repeat: no-repeat;
}

.o_letter_signature_content {
  margin-left: -100px;
}

.o_letter_header_content {
  font-size: 9px;
}

.o_letter_header_td_param {
  padding: 0 !important;
  width: 15mm;
  border-top: none !important;
}

.o_letter_header_td_value {
  padding: 0 !important;
  width: 35mm;
  border-top: none !important;
}

@font-face {
  font-family: 'PersianDigits';
  src:url('https://cdn.kenevist.ir/fonts/sahel/Sahel-FD.ttf')
  format("woff");
  font-weight: Normal;
}