 @font-face {
    font-family: 'Beniz';
    font-style: normal;
    font-weight: 400;
    width: 600px;
    src: url(/letter/static/src/fonts/Beniz.ttf);
}
@font-face {
    font-family: 'Titr';
    font-style: normal;
    font-weight: 700;
    src: url(/letter/static/src/fonts/Titr.ttf);
    }

    @font-face {
    font-family: 'per_num';
    font-style: normal;
    font-weight: 700;
    src: url(/letter/static/src/fonts/BenizPerNum.ttf);
    }
